multidaq OFF

trigger_node localhost

merger_node localhost

level1_nproc 1
level1_maxevt 1000

# Board ids (0-4 CRILIN DAQ boards)
#boardid_list  0 1 2 3 4
boardid_list  0 1

# board_link board_id node_name conet2_mode conet2_channel conet2_slot
board_link          0 localhost       A4818          49826           0
board_link          1 localhost       A4818          49826           1
board_link          2 localhost       A4818          49826           2
board_link          3 localhost       A4818          49826           3
board_link          4 localhost       A4818          49826           4
